.board-title{
    font-size: 24px;
    font-family: "Inria Sans", sans-serif;
    margin-top: 24px;
    margin-left: 24px;
}

.input-board-title{
    font-size: 24px;
    font-family: "Inria Sans", sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

.board-title:hover{
    cursor: pointer;
}

.lists-container{
    display: flex;
    flex-direction: row; 
    overflow-x: auto;
    width: 100%;
    height: 92%;
    overflow-x: scroll;
}

.list-item{
    border-radius: 5px;
    margin: 30px 0px 0px 10px;
    background-color: #DBE2EF;
    flex: 0 0 calc(25% - 20px); /* 25% de largura, considerando a margem de 10px em cada lado 
    sem esse atributo (flex: 0 0 calc(25% - 20px);) o (overflow-x: scroll;) não funciona bem 
    */
}

.new-board{
    border-radius: 5px;
    margin: 30px 0px 0px 10px;
    background-color: #DBE2EF;
    height: 40px;
    padding: 10px;
}


