<div class="item-menu-conteiner" (mouseenter)="showTrashIcon = true" (mouseleave)="showTrashIcon = false">
    <p class="title" (click)="setSelectedBoard(board)">{{board.title}}</p>
    <!-- <img class="trash-icon" [src]="imageUrl" [class.hide]="!showTrashIcon" (click)="deleteBoard(board)"> -->
    <img class="trash-icon" [src]="imageUrl" [class.hide]="!showTrashIcon" (click)="showModal()">
    <app-modal-board-delete-confirmation [board]="board" *ngIf="isModalVisible" (closeModalEvent)="handleModalClosed($event)"
    ></app-modal-board-delete-confirmation>
</div>