.task{
    margin: 10px;
    // padding: 10px;
    background-color: #F9F7F7;
    border-radius: 5px;
}

.task:hover{
    cursor: pointer;
}
.task-title{
    background-color:  #112D4E;
    color: #F9F7F7;
    padding: 10px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.task-description{
    padding: 10px 5px;
}
